body {
    background: rosybrown;
}

h1{
    font-family: 'Mansalva', cursive;
    font-style: normal;
    text-transform: uppercase;
    color: mediumpurple;
}
h2{
    font-family: comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: oblique; 
    font-style: italic;  
    color:olive  
}  
h3{ font-family: 'Times New Roman', Times, serif;}
p{ font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;}
a{ font-family: fantasy;
   font-weight: bold;
}