body{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: rgb(120, 183, 104);
    
}


h1{
    text-align: center;
    color: white;
    background-color: rgb(7, 51, 56);
    box-shadow: 0px 3px 4px rgb(7, 51, 56);

}

.container{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    padding:30px;
}

.search {
    margin-left: auto;
    margin-right:auto;
    width: 100%;
}

.form{
    display: flex;
}
input{
    padding: 10px 10px;
    outline: none;
    width: 299px;
}

.li-conteiner {
    background-color: white;
    width: 100%;
    color:rgb(7, 51, 56);
    margin-top: 20px;
}
ul{
    padding: 0px;
}

li{
    
    list-style: none;
    background-color: lightgrey;
    color: rgb(7, 0, 0);
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
  }
  .btn-delete {
    margin-left: auto;
    border: none;
    background-color: #d27455;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
  }
  .btn-delete:hover {
    cursor: pointer;
    background-color: red
  }
  .btn-add {
    margin-top: 10px;
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: sans-serif;
    background-color: teal;
    font-size: 1.4rem;
    outline: none;
    border-radius: 999px;
  }
  

  .btn-add:hover {
    cursor: pointer;
    background-color: darkcyan;
  }
  
  .empty {
    color: darkslategrey;
  }